@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
}

/* navbar css */

#navbar{
    background-color: #f9f9f9;
    height: 100px;
}
#logo {
    font-size: 31px;
    font-weight: 700;
    color: black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color:#ffa500
}
.navbar-toggler span{
   color:#ffa500
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;

}
.nav-item .nav-link:hover{
    background-color: #ffa500;
    color: white;
  
} 
#navbar form button {
    background-color: #ffa500;
    color: white;
    border: none;
}   

/* home */
.home{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.2)),url("https://st2.depositphotos.com/3889193/7640/i/950/depositphotos_76409317-stock-photo-ready-to-leave.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
  
}
.home .content {
    width:70%;
    text-align: center;
    padding-top: 200px;
    margin: auto;
}
.home .content h5{
    color: white;
    font-size: 38px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
}
.home .content h1{
    color:white;
    font-size: 70px;
    text-shadow: 0px 1px 1px black;
    font-weight: 550;
    margin-top: 5px;
}
.home .content p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
    margin-bottom: 30px;
    
    
}

.changecontent {
    color: #ffa500;
    text-shadow: 0px 1px 1px black;
  }
  .home .content a {
    text-decoration: none;
    color: black;
    background:white ;
    padding: 10px;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    transition: 0.5s;
    
  }

  .home .content a:hover{
    color: white;
    background: #ffa500;
  }

  @media (max-width:850px){
    .home {
        background-position: 50%;
    }
  }
  @media (max-width:500px){
    .home .content h5{
        font-size: 25px;
    }
    .home .content h1{
        font-size: 38px;
    }
    .home .content p{
        font-size: 13px;
    }
  }

  .book {
    padding: 50px;
    background-color: #f9f9f9;
  }
   .main-text h1{
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
   }

   .main-text h1 span{
    color: #ffa500;
   }
   .book .card {
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
   }
   .book .card img{
    height: 465px;
   }
   .book .row{
    margin-top:30px
   }
   .book form input {
    padding:10px;
    color:black;
    border: none;
    outline:none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;

   }
   .book form textarea{
    box-shadow: 0px 5px 5px -6px black;
    border: none;
    resize: none;
    border-radius: 10px;
    
   }
   .book .submit{
    width:160px;
    font-size: 16px;
    font-weight: 550;
    background-color: #ffa500;
    color: white;
    transition: 0.5s;
   }
   .book .submit:hover{
    width:170px
   }

   @media(max-width:750px){
    .book {
        padding:20px
   }
   .main-text h1{
    margin-top: 20px;
   }
}

.main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
  color: #ffa500;
}
.packages .card{
    border-radius: 5px;
    border:none;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px
}
.packages .card img{
    border-radius: 5px;
    height: 300px;
    transition: transform 0.3s  ease-in-out;

}
.packages .card img:hover{
    transform: scale(1.1);

}
.packages .card .card-body{
    background: transparent;
}
.packages .card .card-body h3{
    font-size: 25px;
    font-weight: 600;
}
.packages .card .card-body  p{
    font-size: 15px;
}
.packages .card .star{
    color: #ffa500;
    font-size: 15px;
}
.packages .card .card-body  h6{
    font-size: 20px;
}

.packages .card .card-body a{
    background-color: #ffa500;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}